#hero {
    background-image: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_content {
    display: flex;
    flex-direction: column;
    padding: 270px 0;
    justify-content: center;
    align-items: center;
}

.hero_content h5 {
    font-size: 18px;
    color: #1B745E;
}

.hero_content h3 {
    font-size: 46px;
    color: #1B745E;
}